.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#columns-container {
  width: 1000px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px;
}

ul {
  padding-inline-start: 20px;
}

li {
  text-align: left;
}

/*--------------------Header-----------------*/

#get-meal-btn {
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  border: none;
  border-radius: 7px;
  background-color: rgb(52, 143, 218);
  cursor: pointer;
}

/*------------------Instrucions-----------------*/
#meal-title {
  font-size: 30px;
  font-weight: 900;
}

#instructions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
}

/*-------Image, Area, Ingredient stuff----------*/

#meal-image {
  width: 100%;
  height: 390px;
  margin-bottom: 10px;
}

#area-and-ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.category-area-text {
  font-size: 20px;
  margin: 3px 0;
}

/*---------------Video Section------------*/

#video-section {
  width: 1000px;
}

iframe {
  border: none;
}